<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<div>
  <img src="images/community.jpeg" class="imgwrapper wide" alt="">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="track">Our Story</h1>
            <p>The Safety Pin movement started on a sleepless night while mulling over a recent encounter I experienced. During a night out I saw a poster in the women's bathroom informing me that I could order an “Angel Shot” at the bar, which is a fictitious drink that a woman can order to communicate to the bartender that she feels unsafe in her current situation and is in need of help. The bartender can then take action in order to assist the woman; whether that be calling her a taxi, having security remove an aggressive patron, or calling the police. The night I saw it I didn't need it but I remembered it. A month later I was faced with an uncomfortable situation. I sent my GPS coordinates to three close friends and the words “ANGEL SHOT” in the text, hoping one would know what it meant as I had no time to type a further message. Luckily one out of those three did (after googling it) and came to get me.</p>
            <p>I started thinking about how lucky I was to have gotten out of that situation. How lucky I was that my friend was able to find one article explaining what “Angel Shot” meant, and was able to put the pieces together. This sparked a late night frenzy of research on “Angel Shot” and safety applications. As I looked around the web to find out what bars were using this program, I was unable to find many results. Furthermore, I found that businesses wanting to get involved didn’t know where to get started. I read comments, articles, and listened to stories from all communities, genders, and backgrounds, finding that most people felt there were no programs, apps or plans in place to support their safety.</p>
            <p>It became very clear to me that the necessity was not only for dating, it extended to travel, trusted places, and wanting to get involved with the community to help others feel secure. </p>
            <p>  At Safety Pin our mission is to provide the outlet for safety, community and increased awareness. We bring our users together to help each other, provide businesses with the opportunity to help their customers and provide high-level technology that is convenient and inclusive to everyone.</p>
            <small> - Crystal Jones <i>Founder of Safety Pin</i></small>
        </div>
        <div class="col-sm-4">
            <h1 class="track">Contact Us</h1>
            <address>
                <strong>Safety Pin</strong>
                <br>5555 Street Dr.
                <br>Miami, FL. 33160
                <br>
            </address>
            <address>
                <abbr title="Phone">P: (123) 456-7890</abbr>
                <br>
                <abbr title="Email">E: crystal@mysafepin.com</abbr> <a href="mailto:#">mysafepins@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <hr><br><br>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-rounded img-responsive img-center" src="images/team.jpg" alt="">
            <p class="text5">Our Team</p>
            <p class="text4">Learn more about our team here:</p>
            <a class="text3" href="https://hellobuild.co/">HelloBuild</a>

        </div>
        <div class="col-sm-4">
            <img class="img-rounded img-responsive img-center" src="images/mission.jpeg" alt="">
            <p class="text5">Our Misson</p>
            <p class="text4">Safety Pin's mission is to combine safety, community and technology.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-rounded img-responsive img-center" src="images/dream.jpeg" alt="">
            <p class="text5">Our Dream</p>
            <p class="text4">To change the world, with you!</p>
            <a class="text3" href="https://mysafetypin.herokuapp.com/angel">Get Started!</a>
        </div>
    </div>
  </div>  <!-- /.row -->
<br><br>

<app-footer> </app-footer>
